:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.about-section {
    height: scaleValue(890);
    background: #DBE9F9;
    position: relative;
}

.about-section-text-container {
    position: absolute;
    left: scaleValue(211);
    top: scaleValue(178);
}

.title-about-section {
    font-size: scaleValue(48);
    line-height: scaleValue(55);
    font-weight: 300;
    margin: 0;
}

.description-about-section {
    font-size: scaleValue(24);
    line-height: scaleValue(31.2);
    font-weight: 300;
    width: scaleValue(526);
    margin: 0;
    margin-top: scaleValue(55);
    margin-bottom: scaleValue(38);
}

.about-section-img {
    width: scaleValue(764);
    height: scaleValue(511);
    position: absolute;
    top: scaleValue(174);
    right: scaleValue(209);
}

.about-button-img {
    width: scaleValue(34.59);
    margin-left: scaleValue(29.2);
    margin-right: scaleValue(22);
    
}

.about-button {
    justify-content: unset;
}