:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.carousel-section-background {
    background-image: url("../image/men.png");
    width: 100%;
    height: scaleValue(883);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}