:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.slides {
    background: #DBE9F9;
    border-radius: scaleValue(30);
    width: scaleValue(1280);
    height: scaleValue(682);
    margin: 0 scaleValue(40)
}

.slide {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: scaleValue(30);
    overflow: hidden;
}

.slide-description-wrapper {
    width: scaleValue(640);
    height: 100%;
    position: relative;
}

.slide-description {
    font-size: scaleValue(32);
    line-height: scaleValue(41.6);
    font-weight: 300;
    color: #081622;
    position: absolute;
    width: scaleValue(469);
    left: scaleValue(77);
    top: scaleValue(213);
    margin: 0;
}

.person-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: scaleValue(77);
    top: scaleValue(444);
    align-items: center;
}

.person-img {
    width: scaleValue(45);
    height: scaleValue(45);
    margin-right: scaleValue(10);
}

.person-name {
    color: #081622;
    font-weight: 300;
    font-size: scaleValue(18);
    line-height: scaleValue(27);
    margin: 0;
}

.slide-img {
    width: scaleValue(640);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.slide-container {
    position: absolute;
    top: scaleValue(189);
    height: scaleValue(883);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-arrow {
    width: scaleValue(50);
    height: scaleValue(50);
    background: linear-gradient(0deg, #7AFAE3, #7AFAE3), #7AFAE3;
    border-radius: scaleValue(80);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.carousel-arrow-left {
    transform: rotate(180deg);
}

.dots-container {
    width: scaleValue(124);
    display: flex;
    justify-content: space-between;
    height: scaleValue(12);
    position: absolute;
    top: scaleValue(1022);
    left: scaleValue(899);
}

.carousel-arrow-img {
    width: scaleValue(23.69);
}

.dots {
    border: 1px solid #004986;
    width: scaleValue(12);
    height: scaleValue(12);
    top: 0;
    border-radius: 100%;
    display: block;
}

.activeDot {
    background: #004986;
}