:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.contact-section {
    height: scaleValue(373);
    background: #004986;
    position: relative;
}

.contact-section-img {
    width: scaleValue(212);
    height: scaleValue(212);
    position: absolute;
    left: scaleValue(513);
    top: scaleValue(62);
}

.contact-section-text-wrapper {
    display: flex;
    position: absolute;
    left: scaleValue(799);
    flex-direction: column;
    top: scaleValue(84);
}

.contact-title {
    font-size: scaleValue(48);
    font-weight: 300;
    line-height: scaleValue(55);
    color: white;
    margin: 0;
    margin-bottom: scaleValue(25);
}

.contact-description {
    font-size: scaleValue(22);
    font-weight: 300;
    line-height: scaleValue(25);
    color: white;
    margin: 0;
}

.contact-button {
    width: scaleValue(212);
    margin-top: scaleValue(30);
    justify-content: unset;
}

.contact-button-img {
    margin-right: scaleValue(20);
    width: scaleValue(34.59);
    margin-left: scaleValue(29.2);
}