:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.footer-section {
    height: scaleValue(360);
    background: #004986;
    position: relative;
}

.information-wrapper {
    position: absolute;
    top: scaleValue(105);
    left: scaleValue(321);
    display: flex;
    flex-direction: column;
}

.address {
    margin: 0;
    font-weight: 300;
    font-size: scaleValue(24);
    line-height: scaleValue(36);
    color: white;
    margin-bottom: scaleValue(80);
}

.footer-words-wrapper{
    color: white;
    display: flex;
    flex-direction: row;
}

.impressum-word {
    margin-right: scaleValue(45);
    cursor: pointer;
}

.datenschutz-word {
    margin-right: scaleValue(45);
    cursor: pointer;
}

.agb-word {
    cursor: pointer;
}

.footer-section-description {
    position: absolute;
    top: scaleValue(105);
    right: scaleValue(320);
    width: scaleValue(624);
    font-weight: 300;
    font-size: scaleValue(20);
    line-height: scaleValue(30);
    color: white;
    margin: 0;
}