:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.text-small {
    color: black;
    font-weight: 300;
    font-size: scaleValue(22);
    line-height: scaleValue(25);
    margin: 0;
    margin-bottom: scaleValue(5);
}

.text-big {
    color: black;
    font-weight: 300;
    font-size: scaleValue(48);
    line-height: scaleValue(55);
    margin: 0;
    margin-bottom: scaleValue(15);
}

.text-midium {
    color: black;
    font-weight: 300;
    font-size: scaleValue(24);
    line-height: scaleValue(28);
    margin: 0;
    margin-top: scaleValue(94);
}

.text-container {
    position: absolute;
    top: scaleValue(147);
    left: scaleValue(411);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: scaleValue(1100);
    align-items: center;
}

.white-button {
    background: white;
    width: scaleValue(var(--size));
    height: scaleValue(60);
    position: absolute;
    top: scaleValue(97);
    left: scaleValue(var(--left));
}

.white-button > * {
    white-space: normal !important;
    text-align: left;
}

.buttons-container {
    position: absolute;
    left: scaleValue(325);
    top: scaleValue(576);
    display: flex;
    flex-direction: row;
    width: scaleValue(1278);
    justify-content: space-between;
}

.interested-section {
    height: scaleValue(981);
    position: relative;
}

.button-blue-text {
    color: rgba(0, 73, 134, 1);
    font-weight: 400;
    font-size: scaleValue(17);
    line-height: scaleValue(20);
}

.interested-section-button-img {
    width: scaleValue(34.59);
    margin-right: scaleValue(20);
}

.interested-section-turquoise-button {
    width: scaleValue(242);
    margin-top: scaleValue(45);
    height: scaleValue(60);
}

.button-background {
    background-image: var(--img);
    background-repeat: no-repeat;
    background-size: 100%;
    width: scaleValue(406);
    height: scaleValue(264);
    border-radius: scaleValue(30);
    position: relative;
}

.interested-section-button-background-image {
    margin-right: scaleValue(20);
    width: scaleValue(34.59);
}

.white-button > span {
    font-size: scaleValue(17);
    line-height: scaleValue(20);
}

.wrapped-text {
    width: scaleValue(165);
}