:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: unset;
}

.main-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.main-background {
    background-image: url("../image/main-background.png");
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: scaleValue(1131);
    background-size: 100%;
}

.main-image {
    height: 100vh;
    width: 50%;
}

.main-text {
    font-weight: 300;
    font-size: scaleValue(64);
    line-height: scaleValue(73.54);
    text-align: center;
    color: white;
    width: scaleValue(539);
    position: absolute;
    top: scaleValue(504);
}

.circle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: scaleValue(25);
    width: scaleValue(80);
    height: scaleValue(80);
    background: #FFFFFF;
    border-radius: 100%;    
    cursor: pointer;
    position: absolute;
    left: scaleValue(437);
    top: scaleValue(862);
}

.circle-button-right {
    transform: rotate(-180deg);
    left: scaleValue(1399);
}

.main-side-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: scaleValue(169);
    left: 0px;
    top: 0px;
}

.white-line {
    border: scaleValue(1) solid #D9D9D9;
    position: absolute;
    left: 5.21%;
    right: 5.21%;
    top: 40.24%;
    bottom: 59.76%;
}

.menu-elements-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 40.24%;
    bottom: -8.28%;
    height: 59.76%;
}

.menu-element {
    font-weight: 300;
    font-size: scaleValue(20);
    line-height: scaleValue(22.98);
    text-align: center;
    padding: 2% 3.5%;
    color: white;
    margin-top: 5%;
}

.mian-img {
    width: scaleValue(46.1);
}