:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.projects-section-container {
    background: #DBE9F9;
    height: scaleValue(1044);
    position: relative;
}

.project-section-title {
    color: black;
    font-weight: 300;
    margin-bottom: scaleValue(31);
    font-size: scaleValue(48);
    line-height: scaleValue(55);
    position: absolute;
    left: scaleValue(320);
    top: scaleValue(135);
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: scaleValue(252);
    left: scaleValue(320);
    width: scaleValue(1279);
}

.project-wrapper {
    width: scaleValue(407);
    height: scaleValue(574);
    background: white;
    border-radius: scaleValue(30);
    position: relative;
}

.project-description-wrapper {
    margin-top: scaleValue(34);
    position: relative;
}

.title-project {
    color: rgba(97, 108, 111, 1);
    font-weight: 400;
    font-size: scaleValue(24);
    line-height: scaleValue(27.58);
    position: absolute;
    left: scaleValue(20);
    margin-top: 0;
    margin-bottom: scaleValue(13);
}

.description-project {
    color: rgba(97, 108, 111, 1);
    font-size: scaleValue(18);
    line-height: scaleValue(20.68);
    position: absolute;
    left: scaleValue(20);
    top: scaleValue(79);
    margin-top: 0;
    margin-bottom: scaleValue(17);
}

.link-text {
    color: rgba(0, 73, 134, 1);
    font-weight: 400;
    font-size: scaleValue(17);
    line-height: scaleValue(19.53);
}

.link-wrapper {
    cursor: pointer;
    position: absolute;
    top: scaleValue(189);
    left: scaleValue(20);
    width: scaleValue(210);
    display: flex;
}

.arrow-button {
    margin-right: scaleValue(24);
    width: scaleValue(34.59);
}

.project-img {
    width: 100%;
}