:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.second-section-container{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: scaleValue(1555);
    position: relative;
}

.text-section-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: scaleValue(172);
    width: fit-content;
    left: scaleValue(320);
}

.button-text {
    color: rgba(8, 22, 34, 1);
    font-weight: 400;
    font-size: scaleValue(20);
    line-height: scaleValue(22.98);
    text-align: center;
    white-space: nowrap;
}

.button-arrow {
    width: scaleValue(34.59);
    margin-right: scaleValue(20);
}

.turquoise-button {
    background: linear-gradient(0deg, #7AFAE3, #7AFAE3), #7AFAE3;
    border-radius: scaleValue(50);
    width: scaleValue(331);
    height: scaleValue(60);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: scaleValue(27);
}

.iframe {
    width: scaleValue(1280);
    height: scaleValue(634);
    position: absolute;
    left: scaleValue(320);
    right: scaleValue(320);
    top: scaleValue(812);
}

.left-side-wrapper {
    width: scaleValue(487);
    margin-right: scaleValue(173);
}

.right-side-wrapper {
    width: 50%;
    position: absolute;
    left: scaleValue(660);
    width: scaleValue(492);
}

.title-text {
    font-weight: 300;
    font-size: scaleValue(48);
    line-height: scaleValue(55);
    font-style: normal;
    margin-bottom: scaleValue(42);
}

.description-text {
    font-weight: 300;
    font-size: scaleValue(20);
    line-height: scaleValue(22.98);
}

.accordion-title {
    font-weight: 300;
    font-size: scaleValue(32);
    line-height: scaleValue(41.6);
    font-style: normal;
    color: black;
    margin-bottom: scaleValue(70);
    margin-top: 0;
}

.accordion-description {
    font-size: scaleValue(18);
    line-height: scaleValue(27);
    font-weight: 300;
    font-style: normal;
    color: black;
    display: none;
    margin-bottom: scaleValue(50);
}

.close {
    position: absolute;
    width: scaleValue(31);
    height: scaleValue(31);
    cursor: pointer;
}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: scaleValue(31);
    width: scaleValue(2);
    background-color: rgba(0, 109, 182, 1);
}

.close:before {
    transform: rotate(0deg);
}

.close:after {
    transform: rotate(-90deg)
}

.accordion {
    position: relative;
}

.accordion-text-wrapper {
    margin-left: scaleValue(43.54);
}

.active, .accordion:hover {
    background-color: white; 
}

.interactive {
    pointer-events: auto;
    cursor: pointer !important;
}

.inactive {
    pointer-events: none;
    cursor: default !important;
}
