:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.small-slides {
    width: scaleValue(620);
    height: scaleValue(424);
    background: white;
    border-radius: scaleValue(30);
}

.small-slide-container {
    width: scaleValue(800);
    position: relative;
    left: scaleValue(229);
    top: scaleValue(228) !important;
    height: scaleValue(424) !important;
}

.small-carousel-arrow-left {
    position: absolute;
    left: 0;
    top: scaleValue(188);
}

.small-carousel-arrow-right {
    position: absolute;
    right: 0;
    top: scaleValue(188);
}

.small-slide-description {
    font-weight: 300;
    font-size: scaleValue(40);
    line-height: scaleValue(46);
    color: black;
    width: scaleValue(460);
    margin: 0;
    margin-top: scaleValue(80);
    margin-left: scaleValue(80);
    margin-bottom: scaleValue(35);
}

.small-person-wrapper {
    margin-left: scaleValue(80);
    display: flex;
    align-items: center;
}

.small-person-name {
    font-weight: 300;
    font-size: scaleValue(18);
    line-height: scaleValue(27);
    color: black;
}

.small-dots-container {
    width: scaleValue(124);
    display: flex;
    justify-content: space-between;
    height: scaleValue(12);
    position: absolute;
    top: scaleValue(712);
    left: scaleValue(567);
}

.small-dots {
    border: 1px solid white;
    width: scaleValue(12);
    height: scaleValue(12);
    top: 0;
    border-radius: 100%;
    display: block;
}

.smallActiveDot {
    background: white;
}