:root {
    --ideal-viewport-width: 1919;
}
  
@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.waves-section-container {
    position: relative;
    height: scaleValue(1240);
}

.waves-background {
    background-image: url("../image/frame-header.svg");
    z-index: -1;
    width: 100%;
    height: scaleValue(1240);
    background-size: 100%;
    background-repeat: no-repeat;
}